ul{
    padding-left: 0;
    margin: 0;
}
.icons{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 10px 0 0px 0;
    width: 33.3%;
    height: 25px;
}
.icon{
    overflow: hidden;
    width:15px;
    height:15px;
    cursor: pointer;
}
.icon.active{
    position: relative;
    left: -80px;
    border-right: 80px solid transparent;
    -webkit-filter: drop-shadow(120px 0 0px blue);
    filter: drop-shadow(120px 0 0px blue);  
}
.tab-item {
    display: inline-block;
    list-style: none;
    width: 33.3%;
    height: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family:"黑体"
}
.tab-item.active { 
    color:blue;
}
.tab-container{
    position: relative;
    height:100vh;
}